<%= render 'layouts/header'%>
	<!-- blog -->
	<section class="w3ls-bnrbtm py-5" id="blog">
		<div class="py-xl-5 py-lg-3">
			<div class="row no-gutters">
				<div class="col-xl-5 who-left-w3pvt offset-xl-1 pt-xl-3 pr-xl-0 pr-3">
					<h3 class="w3ls-title text-da text-center font-weight-bold mb-5 pb-lg4">Latest <span class="font-weight-light">Blog</span></h3>
					<ul class="timeline">
						<li>
							<a href="#why" class="head-text-w3">Iste natus error sit</a>
							<a href="#why" class="float-right">21 Nov, 2018</a>
							<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris.</p>
						</li>
						<li>
							<a href="#why" class="head-text-w3">Totam rem aperiam</a>
							<a href="#why" class="float-right">26 Nov, 2018</a>
							<p>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco.</p>
						</li>
						<li>
							<a href="#why" class="head-text-w3">Eaque ipsa quae</a>
							<a href="#why" class="float-right">30 Nov, 2018</a>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						</li>
					</ul>
				</div>
				<div class="col-xl-6 mt-xl-0 mt-md-5 mt-4 text-xl-right text-center">
					<img class="img-fluid rounded" src="/assets/blog.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- //blog -->
	<%= render 'layouts/footer' %>