<%= render 'layouts/header'%>
	<!-- contact -->
	<section class="contact py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="w3ls-title text-wh text-center font-weight-bold mb-5">Contact <span class="font-weight-light">Us</span></h3>
			<div class="row contact-form">
				<div class="offset-lg-2"></div>
				<div class="col-lg-8 wthree-form-left">
					<!-- contact form grid -->
					<fieldset class="contact-top1" data-blast="borderColor">
						<legend class="text-wh let text-capitalize">send us a note</legend>
						<form action="#" method="post" class="f-color">
							<div class="form-group">
								<label for="contactusername">Name</label>
								<input type="text" class="form-control" name="name" id="contactusername" required placeholder="Enter your name">
							</div>
							<div class="form-group">
								<label for="contactemail">Email</label>
								<input type="email" class="form-control" name="email" id="contactemail" required placeholder="Enter your Email">
							</div>
							<div class="form-group">
								<label for="contactcomment">Your Message</label>
								<textarea class="form-control" rows="5" name="message" id="contactcomment" required placeholder="your message"></textarea>
							</div>
							<button type="submit" class="btn btn-block" data-blast="bgColor">Send</button>
						</form>
					</fieldset>
					<!--  //contact form grid ends here -->
				</div>
				<div class="offset-lg-2"></div>
			</div>
			<!-- contact address -->
			<div class="row address bg-li">
				<div class="col-lg-4 address-grid">
					<div class="row address-info">
						<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
							<i class="fa fa-envelope"></i>
						</div>
						<div class="col-md-9 col-8 address-right">
							<p>
								<a href="mailto:example@email.com"> nurseryinthecity@gmail.com</a>
							</p>
							<p>
								<a href="mailto:example@email.com"> hiivineet@gmail.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 address-grid my-lg-0 my-4">
					<div class="row address-info">
						<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
							<i class="fa fa-phone"></i>
						</div>
						<div class="col-md-9 col-8 address-right">
							<p>918602851985</p>
							<p>916263717585</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 address-grid">
					<div class="row address-info">
						<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
							<i class="fa fa-map"></i>
						</div>
						<div class="col-md-9 col-8 address-right">
							<p> MIG 52 bandhavgadh colony</p>
							<p> Satna Madhyapradesh ,INDIA</p>
						</div>
					</div>
				</div>
			</div>
			<!-- //contact address -->
		</div>
	</section>
	<!-- //contact -->
	<%= render 'layouts/footer' %>