<!-- <%#= link_to "New Plant", new_plant_path %>

<table border="">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>View</th>
	</tr>
	<%# @plants.each do |plant| %>
		<tr>
			<td><%#= plant.name %></td>
			<td><%#= plant.price %></td>	
			<td><%#= link_to "Buy", plant_path(plant) %></td>>
		</tr>
	<%# end %>
</table> -->

